In [5]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

# Q1. Write a code to print the data present in the second row of the dataframe, df.

In [7]:
# Print the data present in the second row of the dataframe
second_row = df.iloc[1]
print(second_row)

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

# Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In a `pandas.DataFrame`, `loc` and `iloc` are both used to access data, but they differ in how they reference the rows and columns:

### `loc`:
- **Label-based indexing**: `loc` is used to access rows and columns by their labels (index names).
- **Inclusive slicing**: When slicing, both the start and the end labels are included.
- **Works with boolean arrays**: You can use a boolean array to filter data.
- **Example usage**:
  ```python
  df.loc[2, 'course_name']  # Accesses the row with index label 2 and column 'course_name'
  ```

### `iloc`:
- **Integer-based indexing**: `iloc` is used to access rows and columns by their integer positions (0-based index).
- **Exclusive slicing**: When slicing, the start index is included, but the end index is excluded, similar to standard Python slicing.
- **Does not work with labels**: Only integer positions are valid, not index labels.
- **Example usage**:
  ```python
  df.iloc[2, 1]  # Accesses the third row and second column by integer positions
  ```

### Summary:
- **`loc`**: Use it when you know the labels (names) of rows or columns you want to access.
- **`iloc`**: Use it when you know the positions (integers) of rows or columns you want to access.

This distinction allows for flexible data selection depending on how the DataFrame is structured.

# Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

In [8]:
reindex = [3, 0, 1, 2]
new_df = df.reindex(reindex)

In [9]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [10]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [11]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.940853  0.733388  0.866951  0.500206  0.311522  0.479485
2  0.797485  0.627487  0.105272  0.996000  0.794029  0.318958
3  0.336105  0.105992  0.675179  0.529557  0.666316  0.849354
4  0.972096  0.313713  0.880299  0.482422  0.440268  0.717937
5  0.076348  0.254697  0.555401  0.639952  0.043196  0.525776
6  0.182907  0.700479  0.715888  0.650397  0.316425  0.431680

# Q4. Write a code to find the following statistical measurements for the above dataframe df1:
## (i) mean of each and every column present in the dataframe.
## (ii) standard deviation of column, ‘column_2’

In [12]:
# Mean of each column
mean_of_columns = df1.mean()
print("Mean of each column:\n", mean_of_columns)

Mean of each column:
 column_1    0.550966
column_2    0.455959
column_3    0.633165
column_4    0.633089
column_5    0.428626
column_6    0.553865
dtype: float64

In [13]:
# Standard deviation of 'column_2'
std_column_2 = df1['column_2'].std()
print("Standard deviation of column_2:", std_column_2)

Standard deviation of column_2: 0.26434663409105685

# Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.If you are getting errors in executing it then explain why.
## [Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [14]:
# Replace the data in the second row of 'column_2' with a string
df1.loc[2, 'column_2'] = 'string_value'
print(df1)

   column_1      column_2  column_3  column_4  column_5  column_6
1  0.940853      0.733388  0.866951  0.500206  0.311522  0.479485
2  0.797485  string_value  0.105272  0.996000  0.794029  0.318958
3  0.336105      0.105992  0.675179  0.529557  0.666316  0.849354
4  0.972096      0.313713  0.880299  0.482422  0.440268  0.717937
5  0.076348      0.254697  0.555401  0.639952  0.043196  0.525776
6  0.182907      0.700479  0.715888  0.650397  0.316425  0.431680

In [15]:
# Attempt to calculate the mean of 'column_2'
mean_column_2 = df1['column_2'].mean()
print("Mean of column_2:", mean_column_2)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

Let's work through the process of replacing data in the DataFrame and then attempting to calculate the mean of the column.

### Step 1: Replace the Data in the Second Row of `column_2`
You can replace the data in the second row of `column_2` with a string value using `df1.loc[]`.

```python
# Replace the data in the second row of 'column_2' with a string
df1.loc[2, 'column_2'] = 'string_value'
print(df1)
```

### Step 2: Attempt to Calculate the Mean of `column_2`
After replacing the numeric value with a string, let's try to calculate the mean of `column_2`.

```python
# Attempt to calculate the mean of 'column_2'
mean_column_2 = df1['column_2'].mean()
print("Mean of column_2:", mean_column_2)
```

### Explanation of Errors:
When you try to calculate the mean of `column_2` after replacing a numeric value with a string, you will likely encounter an error. The reason for this is:

- **Data Type Incompatibility:** The `mean()` function in pandas expects all values in the column to be numeric. If a column contains a non-numeric value, such as a string, pandas will not be able to perform the mathematical operation to calculate the mean, resulting in a `TypeError`.

Here’s what the error might look like:

```python
TypeError: could not convert string to float: 'string_value'
```

### How to Handle the Situation:
- **Ensure All Values Are Numeric:** If you need to calculate the mean, make sure that all the values in the column are numeric. If a non-numeric value is present, you could either remove it or replace it with a numeric value before calculating the mean.
- **Convert Back to Numeric:** If possible, you can try to convert the column back to a numeric type using `pd.to_numeric()` with error handling.

```python
# Convert the column back to numeric, coercing errors to NaN
df1['column_2'] = pd.to_numeric(df1['column_2'], errors='coerce')

# Now calculate the mean, ignoring NaN values
mean_column_2 = df1['column_2'].mean()
print("Mean of column_2 after conversion:", mean_column_2)
```

This approach will replace the non-numeric value with `NaN` and then calculate the mean, ignoring the `NaN`.

Would you like to proceed with this, or do you need further explanation?

# Q6. What do you understand about the windows function in pandas and list the types of windows functions?

The **window functions** in pandas are powerful tools that allow for performing calculations across a sliding window of data, rather than across the entire dataset. These functions are particularly useful for time series data analysis, where you might want to calculate rolling averages, cumulative sums, or other statistical measures over a specified window of consecutive data points.

### What Are Window Functions in Pandas?

Window functions operate by defining a fixed-size window that slides over the dataset. For each position of the window, a calculation is performed on the data within that window. The result is an output series of the same length as the original series, with each element representing the calculation applied to the window that ends at that point.

### Key Concepts:

- **Window Size**: The number of observations used in each calculation.
- **Centering**: Whether the window is centered around the current observation or starts at the current observation and goes back or forward.
- **Min Periods**: The minimum number of observations in the window required to perform a calculation.
- **Types of Window Functions**: Depending on how the window is defined, you can have different types of window functions.

### Types of Window Functions:

1. **Rolling Window Functions (`.rolling()`)**:
   - **Description**: Performs calculations over a sliding window of a fixed size.
   - **Common Uses**: Rolling averages, rolling sums, rolling standard deviations, etc.
   - **Example**: 
     ```python
     df['column'].rolling(window=3).mean()  # Rolling mean with a window of 3
     ```

2. **Expanding Window Functions (`.expanding()`)**:
   - **Description**: Expanding windows start at the first observation and grow with each subsequent observation, calculating statistics for all data up to the current point.
   - **Common Uses**: Cumulative sum, cumulative mean, etc.
   - **Example**: 
     ```python
     df['column'].expanding().mean()  # Expanding mean
     ```

3. **Exponentially Weighted Windows (`.ewm()`)**:
   - **Description**: Applies an exponentially decreasing weight to older observations. This is useful when more recent observations should have more influence on the calculation than older ones.
   - **Common Uses**: Exponentially weighted moving averages.
   - **Example**:
     ```python
     df['column'].ewm(span=3).mean()  # Exponentially weighted moving average with a span of 3
     ```

4. **Cumulative Functions**:
   - **Description**: Calculates a cumulative statistic from the beginning of the series up to the current observation.
   - **Common Uses**: Cumulative sum, cumulative product.
   - **Example**:
     ```python
     df['column'].cumsum()  # Cumulative sum
     ```

### Summary:
- **Rolling Functions** are useful for analyzing trends over a moving window of data points.
- **Expanding Functions** allow you to analyze how metrics evolve as more data becomes available.
- **Exponentially Weighted Functions** give more importance to recent observations in the data series.
- **Cumulative Functions** provide a running total or product of the data points up to the current position.

Each of these window functions can be customized with parameters like window size, min periods, and other options to suit specific analytical needs.

# Q7. Write a code to print only the current month and year at the time of answering this question.
## [Hint: Use pandas.datetime function]

In [16]:

import pandas as pd

# Get the current date and time
current_datetime = pd.Timestamp.now()

# Extract and print only the current month and year
current_month_year = current_datetime.strftime('%B, %Y')
print(current_month_year)

August, 2024

# Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [18]:
import pandas as pd

def calculate_time_difference(date1_str, date2_str):
    # Convert input strings to pandas datetime objects
    date1 = pd.Timestamp(date1_str)
    date2 = pd.Timestamp(date2_str)
    
    # Calculate the time difference
    time_difference = date2 - date1
    
    # Extract days, hours, and minutes from the timedelta object
    days = time_difference.days
    hours, remainder = divmod(time_difference.seconds, 3600)
    minutes, _ = divmod(remainder, 60)
    
    return days, hours, minutes

def main():
    # Prompt user to enter two dates
    date1_str = input("Enter the first date (YYYY-MM-DD): ")
    date2_str = input("Enter the second date (YYYY-MM-DD): ")
    
    # Calculate time difference
    days, hours, minutes = calculate_time_difference(date1_str, date2_str)
    
    # Display the result
    print(f"Difference between dates: {days} days, {hours} hours, and {minutes} minutes")

if __name__ == "__main__":
    main()

Enter the first date (YYYY-MM-DD):  2002-07-29
Enter the second date (YYYY-MM-DD):  2004-01-08

Difference between dates: 528 days, 0 hours, and 0 minutes

# Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

### Q8: Python Program to Calculate Mean, Median, and Mode of Test Scores

Here's a Python program that accomplishes the task of reading a CSV file containing student test scores, calculating the mean, median, and mode, and displaying these statistics in a table.

```python
import pandas as pd

def calculate_statistics(file_path):
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file_path)
    
    # Check if 'Test Score' column exists
    if 'Test Score' not in df.columns:
        raise ValueError("The CSV file must contain a 'Test Score' column.")
    
    # Calculate statistics
    mean = df['Test Score'].mean()
    median = df['Test Score'].median()
    mode = df['Test Score'].mode().tolist()
    
    # Display results in a table format
    print("+-----------+--------+")
    print("| Statistic | Value  |")
    print("+-----------+--------+")
    print(f"| Mean      | {mean:.1f}   |")
    print(f"| Median    | {median}   |")
    mode_str = ', '.join(map(str, mode))
    print(f"| Mode      | {mode_str} |")
    print("+-----------+--------+")

def main():
    # Prompt user for file path
    file_path = input("Enter the file path of the CSV file containing the student data: ")
    
    # Calculate and display statistics
    calculate_statistics(file_path)

if __name__ == "__main__":
    main()
```

### Explanation:

1. **Read CSV File**: The `pd.read_csv(file_path)` reads the CSV file into a DataFrame.
2. **Calculate Statistics**: Compute the mean, median, and mode of the 'Test Score' column.
   - **Mean**: Average of test scores.
   - **Median**: Middle value when scores are sorted.
   - **Mode**: Most frequently occurring test scores (can be multiple values).
3. **Display Results**: The results are displayed in a formatted table.

### Q9: Python Program to Convert Column to Categorical Data Type and Display Sorted Data

Here’s a Python program that reads a CSV file, converts a specified column to a categorical data type with a defined category order, and displays the sorted data.

```python
import pandas as pd

def process_categorical_data(file_path, column_name, category_order):
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file_path)
    
    # Check if the column exists in the DataFrame
    if column_name not in df.columns:
        raise ValueError(f"The CSV file must contain a '{column_name}' column.")
    
    # Convert the specified column to a categorical data type with the given order
    categories = category_order.split(',')
    df[column_name] = pd.Categorical(df[column_name], categories=categories, ordered=True)
    
    # Sort the DataFrame by the categorical column
    sorted_df = df.sort_values(by=column_name)
    
    # Display the sorted DataFrame
    print(f"Sorted data by column '{column_name}':")
    print(sorted_df)

def main():
    # Prompt user for file path, column name, and category order
    file_path = input("Enter the file path of the CSV file: ")
    column_name = input("Enter the column name to convert to categorical: ")
    category_order = input("Enter the category order, separated by commas: ")
    
    # Process and display sorted data
    process_categorical_data(file_path, column_name, category_order)

if __name__ == "__main__":
    main()
```

### Explanation:

1. **Read CSV File**: The `pd.read_csv(file_path)` reads the CSV file into a DataFrame.
2. **Convert to Categorical**: The specified column is converted to a categorical data type with the provided category order.
3. **Sort Data**: The DataFrame is sorted based on the categorical column.
4. **Display Sorted Data**: The sorted DataFrame is displayed.

These programs allow you to handle and analyze data efficiently using pandas. If you need further adjustments or have additional questions, feel free to ask!

# Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

To create a Python program that reads a CSV file containing sales data and visualizes it using a stacked bar chart, you can use `pandas` for data manipulation and `matplotlib` for plotting. Below is a complete program to achieve this.

### Python Program for Stacked Bar Chart

```python
import pandas as pd
import matplotlib.pyplot as plt

def plot_stacked_bar_chart(file_path):
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file_path)
    
    # Ensure required columns are present
    if 'Date' not in df.columns or 'Product Category' not in df.columns or 'Sales' not in df.columns:
        raise ValueError("The CSV file must contain 'Date', 'Product Category', and 'Sales' columns.")
    
    # Convert 'Date' column to datetime
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Pivot the DataFrame to get dates as index, product categories as columns, and sales as values
    df_pivot = df.pivot_table(index='Date', columns='Product Category', values='Sales', aggfunc='sum', fill_value=0)
    
    # Plot the stacked bar chart
    ax = df_pivot.plot(kind='bar', stacked=True, figsize=(10, 7))
    
    # Set labels and title
    plt.xlabel('Date')
    plt.ylabel('Sales')
    plt.title('Sales by Product Category Over Time')
    plt.legend(title='Product Category')
    
    # Show the plot
    plt.show()

def main():
    # Prompt user for file path
    file_path = input("Enter the file path of the CSV file containing sales data: ")
    
    # Plot the stacked bar chart
    plot_stacked_bar_chart(file_path)

if __name__ == "__main__":
    main()
```

### Explanation:

1. **Read CSV File**:
   - The `pd.read_csv(file_path)` function reads the CSV file into a DataFrame.
   - The program checks for the required columns: 'Date', 'Product Category', and 'Sales'.

2. **Prepare Data**:
   - **Convert 'Date'**: The 'Date' column is converted to a datetime object for proper time series handling.
   - **Pivot Table**: The `pivot_table` function is used to rearrange the DataFrame so that dates are indices, product categories are columns, and sales are values. This creates a DataFrame suitable for a stacked bar chart.

3. **Plot Stacked Bar Chart**:
   - The `plot` method with `kind='bar'` and `stacked=True` creates a stacked bar chart.
   - **Labels and Title**: Axis labels and a title are added for clarity.
   - **Display Chart**: `plt.show()` renders the chart.

### Example CSV Format:

The CSV file should be structured like this:

```
Date,Product Category,Sales
2024-01-01,Electronics,100
2024-01-01,Clothing,150
2024-02-01,Electronics,120
2024-02-01,Clothing,180
...
```

Each row represents a sale with a date, product category, and sales amount.

### Requirements:
- **Pandas**: For data manipulation.
- **Matplotlib**: For plotting the chart.

Install these libraries using pip if you haven't already:

```bash
pip install pandas matplotlib
```

This program will help visualize how different product categories contribute to sales over time, providing valuable insights into sales trends.

# Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table.

To write a Python program that reads a CSV file containing student data, calculates the mean, median, and mode of the test scores, and displays the results in a table, you can use `pandas` for data manipulation and calculations, and `tabulate` to format the output as a table.

Here's how you can do it:

### Python Program

```python
import pandas as pd
from tabulate import tabulate

def calculate_statistics(file_path):
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file_path)
    
    # Check if 'Test Score' column exists
    if 'Test Score' not in df.columns:
        raise ValueError("The CSV file must contain a 'Test Score' column.")
    
    # Calculate statistics
    mean = df['Test Score'].mean()
    median = df['Test Score'].median()
    mode = df['Test Score'].mode().tolist()
    
    # Prepare data for the table
    table_data = [
        ["Mean", f"{mean:.2f}"],
        ["Median", f"{median:.2f}"],
        ["Mode", ', '.join(map(str, mode))]
    ]
    
    # Display results in a table format using tabulate
    print(tabulate(table_data, headers=["Statistic", "Value"], tablefmt="grid"))

def main():
    # Prompt user for file path
    file_path = input("Enter the file path of the CSV file containing the student data: ")
    
    # Calculate and display statistics
    calculate_statistics(file_path)

if __name__ == "__main__":
    main()
```

### Explanation:

1. **Read CSV File**:
   - The `pd.read_csv(file_path)` function reads the CSV file into a DataFrame.
   - The program checks if the 'Test Score' column exists in the DataFrame.

2. **Calculate Statistics**:
   - **Mean**: Average of the test scores.
   - **Median**: Middle value of the sorted test scores.
   - **Mode**: Most frequently occurring test scores. If there are multiple modes, all are included.

3. **Prepare Data for Table**:
   - `table_data` is a list of lists where each inner list represents a row in the table. The format includes the statistic name and its value.

4. **Display Results in a Table**:
   - The `tabulate` function from the `tabulate` library formats the data into a nicely aligned table. You need to install the `tabulate` library if it's not already installed:

   ```bash
   pip install tabulate
   ```

5. **Main Function**:
   - Prompts the user to enter the file path.
   - Calls `calculate_statistics()` to read the file, compute statistics, and display them in a table.

### Example CSV Format:

The CSV file should be structured like this:

```
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
```

Each row represents a student's ID and their test score.

This program will help you analyze the distribution of test scores and present the results in a clear and structured format. If you have further questions or need additional features, feel free to ask!